html
  head 
    title="Task Management System"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet")
  body(style="font-family: sans-serif; width: 55%; margin: auto") 
    div(class="container")
      h2(class="pb-2 border-bottom" style="text-align: center; padding-top: 1%; padding-bottom: 1%;")="Task Management System"
      h2(style="text-align: center;")="Change Password"
      if error 
        p(class="alert alert-danger")=error
        
      form(class="row g-3" method="post")
        div(class="form-group")
          input(type="password" class="form-control" name="currentpwd" placeholder="Current Password"
          style="padding:12px; border-radius: 4px; margin: 5px 0; opacity: 0.85; display: inline-block; font-size: 17px; line-height: 20px;")
        
        div(class="form-group")
          input(type="password" class="form-control" name="newpwd" placeholder="New Password" 
          pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,10}$")
          style="padding:12px; border-radius: 4px; margin: 5px 0; opacity: 0.85; display: inline-block; font-size: 17px; line-height: 20px;"

        span="Password must"
        li Have 8 characters and maximum 10 characters
        li Have alphabets, numbers, special characters

        div(class="form-group")
          button(type="submit" class="btn btn mb-3"
          style="background-color: #f8e5e7; color: black; font-weight: bold; width: 100%; padding: 14px 20px; margin: auto; cursor: pointer;")="Change Password"
          button(type="button" class="btn btn mb-3" onclick=`window.location='/'`
          style="background-color: #98fb98; color: black; font-weight: bold; width: 100%; padding: 14px 20px; margin: auto; cursor: pointer;")="Back"