html
  head 
    title="Task Management System"
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(type="text/css" href="/style.css" rel="stylesheet")
  body
    h2(style="text-align: left")=`Edit Application: ${app}`
    if error
        p(class="alert alert-danger")=error
    if success
        p(class="alert alert-success")=success
    div(class="editApplication")
      form(class="row g-3" method="post")
        input(type="hidden" name="appname" value=`${app}`)
        each app in appList 
          div(class="form-group")
            div(class="col-sm-8")
              label(class="form-label")="Application Release Number:"
              input(type="text" class="form-control" name="apprnumber" value=`${app.rnumber}` readonly)
          div(class="form-group")
            div(class="col-sm-8")
              label(class="form-label")="Application Description:"
              textarea(class="form-control" name="appdescription" rows="3")=`${app.description}` 
          div(class="form-group")
            div(class="col-sm-8")
              label(class="form-label")="Start Date:"
              input(type="date" class="form-control" name="startdate")
          div(class="form-group")
            div(class="col-sm-8")
              label(class="form-label")="End Date:"
              input(type="date" class="form-control" name="enddate")
        div(class="form-group")
          label(class="form-label")="Create Task Permit:"
          div(class="col-sm-8")
            select(class="form-select" name="p_createTask")
              option(value="" disabled selected)="-- Select a group --"
              if permitArray
                each g in permitArray 
                  option(value=`${g.groupname}`)=`${g.groupname}`  
        div(class="form-group")
          label(class="form-label")="Create Plan Permit:"
          div(class="col-sm-8")
            select(class="form-select" name="p_createPlan")
              option(value="" disabled selected)="-- Select a group --"
              if permitArray
                each g in permitArray 
                  option(value=`${g.groupname}`)=`${g.groupname}`  
        div(class="form-group")
          label(class="form-label")="Open Permit:"
          div(class="col-sm-8")
            select(class="form-select" name="p_open")
              option(value="" disabled selected)="-- Select a group --"
              if permitArray
                each g in permitArray 
                  option(value=`${g.groupname}`)=`${g.groupname}`  
        div(class="form-group")
          label(class="form-label")="To-Do-List Permit:"
          div(class="col-sm-8")
            select(class="form-select" name="p_toDoList")
              option(value="" disabled selected)="-- Select a group --"
              if permitArray
                each g in permitArray 
                  option(value=`${g.groupname}`)=`${g.groupname}`  
        div(class="form-group")
          label(class="form-label")="Doing Permit:"
          div(class="col-sm-8")
            select(class="form-select" name="p_doing")
              option(value="" disabled selected)="-- Select a group --"
              if permitArray
                each g in permitArray 
                  option(value=`${g.groupname}`)=`${g.groupname}`  
        div(class="form-group")
          label(class="form-label")="Done Permit:"
          div(class="col-sm-8")
            select(class="form-select" name="p_done")
              option(value="" disabled selected)="-- Select a group --"
              if permitArray
                each g in permitArray 
                  option(value=`${g.groupname}`)=`${g.groupname}`  
        div(class="form-group")
          button(type="submit" class="btn btn mb-3")="Confirm"
          button(type="button" class="btn btn mb-3" onclick=`window.location='/appList2'`)="Back"