html
  head 
    title="Task Management System"
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(type="text/css" href="style.css" rel="stylesheet")
  body
    include ./navbar.pug
      h1="User List"
      block content
      table(class="table table-bordered table-hover table-sm")  
          tr 
              th Username 
              th Action 
              th Action
          for user in userList
              tr
                  td #{user.username}
                  td 
                      a(href="/assignGroup/"+user.username type="submit")="Get Group"
                  td 
                      a(href="/removeGroup/"+user.username type="submit")="Remove Group"